body{
	color: rgb(18, 54, 80);
}

.jumbotron {
	min-height: 100vh;
	background-image: url(../images/jumbotron.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-me {
	min-height: 100vh;
}

.about-me-thumbnail img {
	max-width: 300px;
	border-radius: 50%;
}

.projects-wrapper {
	min-height: 100vh;
	background-image: url(../images/projectBackground.png);
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.projects-h1, .photography-h1 {
	color: white;
	width: auto;
	margin: auto;
}

.card {
	box-shadow: -5px 5px 8px rgba(0,0,0,0.3);
	height: auto;
	background-color: rgba(255,255,255,0.7);
	transition: all .2s ease-in-out;
}

.card:hover {
	transform: scale(1.1);
}

.card-img-top {
	filter: grayscale(100%);
	overflow: hidden;
}

.card h5, .card p {
	color: rgb(18, 54, 80);
}

.resume {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	line-height: 5rem;
	transition: transform .2s;
	margin: auto;
}

.resume:hover {
	transform: scale(1.5);
	color: rgb(18, 54, 80);
}

.resume-row {
	width: 100%;
}

.resume-col {
	max-width: 100px;
	margin: auto;
}

.about-me-wrapper {
	min-height: 100vh;
}

.photgraphy-wrapper {
	max-height: 100vh;
	background-color: red;
}

.photography-h1{
	color: rgb(18, 54, 80)
}

@media (max-width: 575.98px) {
	.about-me-thumbnail img {
		text-align: center;
	}
}

